body, html {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;          /* full height */
	display: flex;
	flex-direction: column;
}

header {
	background: #333;
	color: white;
	padding: 1rem;
}

main {
	flex: 1;               /* take up remaining space */
	padding: 1rem;
}

footer {
	background: #eee;
	text-align: center;
	padding: 1rem;
}

.file-menu {
	width: 10%;
	margin: 0;
	padding: 0;
	background-color: #333;
	display: flex;
    flex-direction: column; /* Stacks links vertically */
    gap: 15px;         
}


.file-menu a {
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 5% 5% 5% 5%;
	text-decoration: none;
	transition: color 0.3s;
}

.file-menu a:hover {
	background-color: #444;
	color: #ff9800;
}

/* Layout the bar */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo on left, links on right */
  align-items: center;
  padding: 0rem 2rem;
  background-color: #333;
  color: white;
}

.logo img {
	height: 5rem;
	width: auto;
	display: block;
}

/* Style the list of links */
.nav-links {
  display: flex;
  list-style: none; /* Remove bullet points */
}

/* Style individual links */
.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none; /* Remove underline */
  color: white;
  transition: color 0.3s;
}

/* Add a hover effect */
.nav-links a:hover {
  color: #ff9800;
}
